<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title><%=data.title%></title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/font/iconfont.css">
    <link rel="stylesheet" href="/css/<%=name%>.css">
    <script src="/libs/jquery-2.1.0.js"></script>
    <script src="/libs/fastclick.js"></script>
    <script src="/js/common.js"></script>
</head>
<body>
<header>
    <a class="logo" href="/"><img src="/img/logo.png" alt="切图仔"></a>
    <a class="tab" href="javascript:;"><i class="iconfont">&#xe696;</i></a>
    <ul class="nav">
        <li class="search">
            <input type="text"  placeholder="Search">
            <button>搜索</button>
            <ul>
                <li><a href="">asdasda</a></li>
                <li>asdasd</li>
            </ul>
        </li>
        <li class="nav-li">
            <a class="avtive" href="javascript:;">首页</a>
        </li>
        <li class="nav-li">
            <a class="avtive" href="javascript:;">摘记</a>
            <ul class="tabs">
                <li><a href="/list">HTML</a></li>
                <li><a href="">CSS</a></li>
                <li><a href="">JS</a></li>
            </ul>
        </li>
        <li class="nav-li">
            <a class="avtive" href="javascript:;">随笔</a>
            <ul class="tabs">
                <li><a href="">恩...</a></li>
            </ul>
        </li>
    </ul>
</header>
