<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>欢迎来到slb的博客</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="font/iconfont.css">
    <link rel="stylesheet" href="css/hello.css">
    <script src="libs/jquery-2.1.0.js"></script>
    <script src="libs/fastclick.js"></script>
    <script src="js/common.js"></script>
</head>
<body>
<div class="h-section">
    <div class="h-content">
        <div class="h-content-main">
            <img class="pic" src="img/my.JPG" alt="">
            <p class="name">ShenLibo</p>
            <p class="add">中国·上海</p>
            <p class="info">野生前端程序猿</p>
            <p class="info2">码农、爱思考、前端爱好者、穷折腾、三流程序员、二流切图仔</p>
            <nav>
                <a href="/home">
                    <img src="img/ceshi.png" alt="">
                    <p>asdasdasdasasdasdasdasdasdd</p>
                </a>
                <a href="">
                    <img src="img/ceshi.png" alt="">
                    <p>asdasdasdasasdasdasdasdasdd</p>
                </a>
                <a href="">
                    <img src="img/ceshi.png" alt="">
                    <p>asdasdasdasasdasdasdasdasdd</p>
                </a>
                <a href="">
                    <img src="img/ceshi.png" alt="">
                    <p>asdasdasdasasdasdasdasdasdd</p>
                </a>
            </nav>
            <a class="gohome" href="/home"><i class="iconfont">&#xe6ba;</i></a>
        </div>
    </div>
    <footer>
        <p>Copyright © 申力博|转载本站内容请署名</p>
    </footer>
</div>
</body>
</html>