<%- include('header') %>

<section>
    <div class="l-top">
        <p>日志</p>
    </div>
    <div class="l-content">
        <ul>
            <li>
                <div>
                    <a href=""><img src="img/ceshi.png" alt=""></a>
                    <h2><a href="">标题标题标题标题标题题标题标题题标题标题题标题标题题标题标题题标题标题</a></h2>
                    <p class="stats-read">
                        <b>Tag: <a href="">前端、</a></b>
                        <span>10<i class="iconfont">&#xe677;</i></span>
                        <span>10<i class="iconfont">&#xe6ad;</i></span>
                        <span>10<i class="iconfont">&#xe65e;</i></span>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href=""><img src="img/ceshi.png" alt=""></a>
                    <h2><a href="">标题标题标题标题标题</a></h2>
                    <p class="stats-read">
                        <span>10<i class="iconfont">&#xe677;</i></span>
                        <span>10<i class="iconfont">&#xe6ad;</i></span>
                        <span>10<i class="iconfont">&#xe65e;</i></span>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href=""><img src="img/ceshi.png" alt=""></a>
                    <h2><a href="">标题标题标题标题标题</a></h2>
                    <p class="stats-read">
                        <span>10<i class="iconfont">&#xe677;</i></span>
                        <span>10<i class="iconfont">&#xe6ad;</i></span>
                        <span>10<i class="iconfont">&#xe65e;</i></span>
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <a href=""><img src="img/ceshi.png" alt=""></a>
                    <h2><a href="">标题标题标题标题标题</a></h2>
                    <p class="stats-read">
                        <span>10<i class="iconfont">&#xe677;</i></span>
                        <span>10<i class="iconfont">&#xe6ad;</i></span>
                        <span>10<i class="iconfont">&#xe65e;</i></span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <footer>
        <p>Copyright © 申力博|转载本站内容请署名</p>
    </footer>
</section>

<%- include('footer') %>