.l-top{
    height:50px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    background: #fbfbfb;
    padding: 0 20px;
    box-sizing: border-box;
}
.l-top p{
    width: 100%;
    height:50px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #353535;
}
.l-top p b{
    color: #000;
    font-size: 20px;
    font-weight: 100;
}



.l-content{
    width: 950px;
    margin:20px auto;
}
.l-content ul{
    width: 100%;
    overflow: hidden;
}
.l-content ul li{
    width: 23%;
    float: left;
    margin:10px 1%;
}
.l-content ul li div{
    width: 100%;
    border:10px solid #ffffff;
    border-bottom: 0;
    background: #ffffff;
    box-sizing: border-box;
}
.l-content ul li div img{
    width: 100%;
}
.l-content .stats-read{
    height:25px;
    line-height:25px;
    color: #999;
    font-size: 14px;
}
.l-content .stats-read span{
    float: right;
}
.l-content .stats-read b{
    float: left;
}
.l-content .stats-read b a{
    color: #353535;
}
.l-content .stats-read i{
    font-size: 18px;
}
.l-content h2{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    line-height: 20px;
    height:45px;
    padding:5px 10px;
    box-sizing: border-box;
    text-align: center;
}
.l-content h2 a{
    color: #333;
}
@media all and (max-width:950px){
    .l-content ul li{
        width: 48%;
    }
    .l-content{
        width: 100%;
    }
}
